body {
	background-color: #e1e3e4;
 	font-family: 'Lato', sans-serif;
}

#home {

}

#page-content-wrapper {
	padding: 0px;
}

.cover-photo {
	background-image: url("../img/reel.png");
	background-position: center;
	height: 750px;
	margin: 0 0 0 0;
}

.cover-text {
	font-size: 5em;
	font-style: bold;
	color: white;
	text-shadow: 2px 2px 4px black;
}

/*   Sidebar Overrides  */

.sidebar-brand a {
	background-color: #00A0B0;
	color: black !important;
}

.sidebar-brand a:hover {
	background-color: #00A0B0 !important;
	color: white !important;
}

#sidebar-wrapper {
	border-right: 1px solid darkgrey;
}


/*   Wells  */

h1 {
	border-bottom: 2px solid black;
}

.well {
	margin-left: 10px;
	margin-right: 10px; 
}

.well-header {
	border-bottom: 1px solid lightgrey;
}

.small-image {
	float: left;
	max-width: 100px;
	max-height: 100px;
	padding-right: 10px;
}
