body {
	background-color: #e1e3e4;
	font-family: 'Lato', sans-serif;
}

/*   navbar  


/*   home  */


#home {
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.cover {
	background-color: lightgrey;
	padding: 0px;
	margin-bottom: 20px;
	min-height: 80%;
}

.header {
	padding: 15px 20px 20px 20px;
	margin-bottom: 20px;
	background-color: #1F6AB0;
	color: white;
	border-bottom: 2px solid white;
}

.well {
	color: black;
}