body {
	background-color: #e1e3e4;
	font-family: 'Lato', sans-serif;
}

/*   navbar  

.navbar-fixed-left {
  width: 140px;
  position: fixed;
  border-radius: 0;
  height: 100%;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */ /*
  width: 139px;
}

.navbar-fixed-left + .container {
  padding-left: 160px;
}

.navbar-brand {
	margin-bottom: 20px;
	background-color: #313131;
	font-style: bold;
	color: white;
}  */

/*   home  */


#home {
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.cover {
	background-color: lightgrey;
	padding: 0px;
	margin-bottom: 20px;
	min-height: 80%;
}

.header {
	padding: 15px 20px 20px 20px;
	margin-bottom: 20px;
	background-color: #1F6AB0;
	color: white;
	border-bottom: 2px solid white;
}

.well {
	color: black;
}